
@model PTAWMS.Models.HR_EmployeeHistory
    @{ 

    }

<div class="modal-content">
    <div class="widget-header widget-header-small">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"><i class="ace-icon fa fa-check"></i> Posting Transfer</h4>
        </div>
    </div>

    @using (Html.BeginForm("ModifyPostingTransfer", "Profile", FormMethod.Post, new { id = "AddPreJobHistory", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.PHEmpID)
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="control-label col-md-4">
                        Station Join Date
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.OStationJoinDate, "{0:dd/MM/yy}", new { @class = "form-control", @type = "text", @required = "required",@readonly= "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-4">
                        Station
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.OLocID, (SelectList)ViewBag.Location, new { @class = "input-medium valid col-lg-12 col-md-12 col-sm-12 col-xs-12" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-4">
                        Department
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.OSectionID, (SelectList)ViewBag.Section, new { @class = "input-medium valid col-lg-12 col-md-12 col-sm-12 col-xs-12" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-4">
                        Remarks
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>





                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-10">
                        <input type="submit" id="SaveEmpPersonalInfo" value="Save" class="btn btn-default btn-success" />
                        <input type="button" id="btnCancel" value="Cancel" class="btn btn-primary" data-dismiss="modal" />
                    </div>
                </div>
                @*<div class="modal-footer">
                        <button class="btn" type="button" data-dismiss="modal">Cancel</button>
                        <input class="btn btn-primary" type="submit" value="Add" />
                    </div>*@
            </div>
        </div>
    }

    <div>


    </div>
    </div>


@*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@<link href="~/assets/css/jquery-ui-new.css" rel="stylesheet" />
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery-ui-1-12-1.js"></script>
<script type="text/javascript">

    $(function () {
        //if (!$.datepicker.initialized) {
        //    $(document).mousedown($.datepicker._checkExternalClick)
        //        // !!!!!!!!!!
        //        // The next code line has to be added again so that the date picker
        //        // shows up when the popup is opened more than once without reloading
        //        // the "base" page.
        //        // !!!!!!!!!!
        //        .find(document.body).append($.datepicker.dpDiv);
        //    $.datepicker.initialized = true;
        //    ($.datepicker.dpDiv).hide();
        //}

        //$("#OStationJoinDate").datepicker({
        //    dateFormat: 'dd-mm-yy', changeMonth: true,
        //    changeYear: true
        //});
        

        

    });
</script>


