@model IEnumerable<object>
@{
    List<PTAWMS.Models.HR_LeaveReq> approvedList = Model.ToList()[0] as List<PTAWMS.Models.HR_LeaveReq>;
    //List<PTAWMS.Models.HR_LeaveReq> pendingList = Model.ToList()[1] as List<PTAWMS.Models.HR_LeaveReq>;
    PTAWMS.Models.ViewUserEmp user = (PTAWMS.Models.ViewUserEmp)HttpContext.Current.Session["LoggedUser"];
    int Counter = 1;
    string className = string.Empty;
    bool comments = false;
    bool edit = user.MHREmpE ?? false;
}

<div class="modal fade bs-example-modal-lg in" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="divLeave" style="display:block;border:groove;">
            </div>
            @*<div id="divLeaveRemarks" style="display:block;">*@
            </div>
        </div>
    </div>
</div>


<div class="label label-lg label-info arrowed-right">
    <b><strong>Note: </strong> For any change in this section, you are requested to kindly email to HR Directorate.</b>
</div>
<br />

<div class="page-header">
    <h1>

        <small>
            <div class="pull-right tableTools-container"></div>
            @if (user.MHREmpA == true)
    {
            <div class="pull-right">
                <a href="#" id="AddLeave" data-toggle="modal" class="blue btn btn-white btn-bold hidden-print" data-target=".bs-example-modal-lg">Create New</a>
            </div>
}
            
        </small>
    </h1>
</div>


<table id="dynamic-table" class="table table-striped table-bordered dataTable no-footer dtr-inline">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Days
            </th>

           
            <th>
                Status
            </th>
        </tr>
    </thead>

    @foreach (var item in approvedList)
    {

        <tr>
            <td>
                @item.LEAVETYPE
            </td>
            <td>
                @if (item.FROMDATE != null)
                {
                    @item.FROMDATE.Value.ToShortDateString();
                }
            </td>
            <td>
                @if (item.TODATE != null)
                {
                    @item.TODATE.Value.ToShortDateString();
                }
            </td>
            <td>
                @item.DUELEAVE
            </td>
            <td>
                @item.STATUS
            </td>
            
        </tr>
    }

</table>
<script type="text/javascript">
    $(function () {
        $("#breadcrumbs").html("<ul class='breadcrumb'><li><i class='ace-icon fa fa-user home-icon'></i><a href='" + LoadUrl("Home/Index")+"'>Home</a></li><li class='active'>Leaves</li></ul>");
        $("#printable").click(function () {
            print()
        });
        $("#ui-datepicker-div").hide();

        var urls = LoadUrl('HumanResource/Profile/AddLeave');
        $.ajax({
            async: false,
            type: "GET",
            url: urls,
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#divLeave').hide();
                //$('#divLeaveRemarks').hide();
                $('#divLeave').html(response);
                //alert('Calling .... 2');
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

        $("#AddLeave").click(function () {

            

            //$('#divLeaveRemarks').hide();
            $('.bs-example-modal-lg').show();
            $('#divLeave').show();
        });

    });
</script>
<script src="~/Scripts/gridFeatures.js"></script>
