@model IEnumerable<object>
@{
    ViewBag.Title = "Home Page";
    List<PTAWMS.Models.ViewEmpWarning> approvedList = Model.ToList()[0] as List<PTAWMS.Models.ViewEmpWarning>;
    List<PTAWMS.Models.ViewEmpWarning> pendingList = Model.ToList()[1] as List<PTAWMS.Models.ViewEmpWarning>;
    PTAWMS.Models.ViewUserEmp user = (PTAWMS.Models.ViewUserEmp)HttpContext.Current.Session["LoggedUser"];
    string className = string.Empty;
    bool comments = false;
    bool edit = user.MHREmpE?? false;
    int Counter = 1;
    bool delete = false;
}

<div class="modal fade bs-example-modal-lg in" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="divExperience" style="display:block;border:groove;">
            </div>
            <div id="divExperienceRemarks" style="display:block;">
            </div>
        </div>
    </div>
</div>

@*<div class="label label-lg label-info arrowed-right">
    <b><strong>Note: </strong> For any change in this section, you are requested to kindly email to HR Directorate.</b>
</div>
<br />*@
                        <div class="page-header">
                        <h1>

                            <small>
                                <div class="pull-right tableTools-container"></div>
                                @if (user.MHREmpA == true)
    {
                                <div class="pull-right">
                                    <a href="#" id="AddWarning" data-toggle="modal" class="blue btn btn-white btn-bold hidden-print" data-target=".bs-example-modal-lg">Create New</a>
                                </div>
}
                                
                            </small>
                        </h1>
                    </div>
                        <!-- div.table-responsive -->
                        <!-- div.dataTables_borderWrap -->

<table id="dynamic-table" class="table table-striped table-bordered dataTable no-footer dtr-inline">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Date
            </th>
            <th>
                Details
            </th>
            <th>
                From
            </th>
            <th class="hidden-print">
                Attachment
            </th>
            <th>
                Action
            </th>

            @*<th class="hidden-480 hidden-print">
                Attachment
            </th>*@

        </tr>
    </thead>
    <tbody>
        @foreach (var item in approvedList)
            {
            <tr>
                <td>
                    @Counter
                    @{
                        Counter = Counter + 1;
                    }

                </td>
                <td>
                    @if(item.Warnings___Explations_Date != null) {
                        @item.Warnings___Explations_Date.Value.ToShortDateString() 
                            }
                        
                </td>
                <td>
                    @item.Warnings___Explations_Reason
                </td>
                <td>
                    @item.Warnings___Explations_From
                </td>
                <td class="hidden-print">
                    @if (!String.IsNullOrEmpty(item.DocumentPath))
                {

                        @Html.ActionLink("Download", "DownloadDocument", "Profile", new { ID = item.WarningID, TypeID = ViewBag.TypeID }, new { @class = "ace - icon glyphicon glyphicon - download" })
                    }
                </td>
                <td>
                    <input type="hidden" id="hidAppID" value="@item.WarningID" />
                    <input type="hidden" id="hidPersonID" value="@item.EmployeeID" />
                    <input type="hidden" id="hidStatusID" value="@item.StatusID" />
                    <input type="hidden" id="hidTypeID" value="@ViewBag.TypeID" />
                    <a href="#" data-toggle="modal" class="label btn-success" data-target=".bs-example-modal-lg">
                        <i class="ace-icon fa fa-comment-o icon-only"></i>
                    </a>
                    @if (user.UserType == "H" || user.UserType == "A")
    {
                <a href="#" data-toggle="modal" class="label btn-info" data-target=".bs-example-modal-lg">
                    <i class="ace-icon fa fa-pencil bigger-110"></i>
                </a>
}
                    @if (user.UserType == "H" || user.UserType == "A")
    {
                <a href="#" data-toggle="modal" class="label btn-danger" onclick="return confirm('Are you sure you want to delete permanently this item?')" data-target=".bs-example-modal-lg">
                    <i class="ace-icon fa fa-trash bigger-110"></i>
                </a>
}
                </td>

            </tr>
                        }
    </tbody>
</table>

@if (pendingList.Count > 0)
{
    <div class="page-header hidden-print">
        <h1>
            Unapproved Warning

        </h1>
    </div>
    <table class="table table-striped table-bordered dataTable no-footer dtr-inline hidden-print">
        <thead>
            <tr>

                <th>
                    Date
                </th>
                <th>
                    Details
                </th>
                <th>
                    From
                </th>
                <th>
                    Status
                </th>
                <th class="hidden-print">
                    Attachment
                </th>
                <th class="hidden-print">
                    Action
                </th>

                @*<th class="hidden-480 hidden-print">
                        Attachment
                    </th>*@

            </tr>
        </thead>
        @foreach (var item in pendingList)
        {
            if (item.Status == "Query by HR")
            {

                comments = true;
                edit = true;
            }
            else if (item.Status == "Rejected by HR")
            {

                comments = true;
                edit = false;
            }
            else
            {

                comments = true;
                edit = false;
            }
            <tr>

                <td>
                    @if (item.Warnings___Explations_Date != null)
                    {
                        @item.Warnings___Explations_Date.Value.ToShortDateString()
                    }

                </td>
                <td>
                    @item.Warnings___Explations_Reason
                </td>
                <td>
                    @item.Warnings___Explations_From
                </td>

                <td class="hidden-print">
                    @if (item.Status == "Pending")
                    {
                        <span class="label label-sm label-warning">@item.Status</span>
                    }
                    else if (item.Status == "Rejected by HR")
                    {
                        <span class="label label-sm label-danger">@item.Status</span>
                    }
                    else
                    {
                        <span class="label label-sm label-info">@item.Status</span>
                    }
                    @*@Html.DisplayFor(modelItem => item.Status)*@
                    </td>
                <td class="hidden-print">
                    @if (!String.IsNullOrEmpty(item.DocumentPath))
                    {

                        @Html.ActionLink("Download", "DownloadDocument", "Profile", new { ID = item.WarningID, TypeID = ViewBag.TypeID }, new { @class = "ace - icon glyphicon glyphicon - download" })
                    }
                </td>
<td>
                    <input type="hidden" id="hidAppID" value="@item.WarningID" />
                    <input type="hidden" id="hidPersonID" value="@item.EmployeeID" />
                    <input type="hidden" id="hidStatusID" value="@item.StatusID" />
                    <input type="hidden" id="hidTypeID" value="@ViewBag.TypeID" />
                    <a href="#" data-toggle="modal" class="label btn-success" data-target=".bs-example-modal-lg">
                        <i class="ace-icon fa fa-comment-o icon-only"></i>
                    </a>
                    @if (edit)
                    {
                        <a href="#" data-toggle="modal" class="label btn-info" data-target=".bs-example-modal-lg">
                            <i class="ace-icon fa fa-pencil bigger-110"></i>
                        </a>
                    }
                    @if (delete)
                    {
                        <a href="#" data-toggle="modal" class="label btn-danger" onclick="return confirm('Are you sure you want to delete permanently this item?')" data-target=".bs-example-modal-lg">
                            <i class="ace-icon fa fa-trash bigger-110"></i>
                        </a>
                    }
                </td>



            </tr>
        }

    </table>
}


@*<script src="~/assets/js/jquery-2.1.4.min.js"></script>*@
<!-- inline scripts related to this page -->
<script type="text/javascript">
    $(function () {
        $("#breadcrumbs").html("<ul class='breadcrumb'><li><i class='ace-icon fa fa-user home-icon'></i><a href='" + LoadUrl("Home/Index")+"'>Home</a></li><li class='active'>Warning</li></ul>");
        //$("#printable").click(function () {
        //    print()
        //});
        $("#ui-datepicker-div").hide();
        var urls = LoadUrl('HumanResource/Profile/AddWarning');
        $.ajax({
            type: "GET",
            url: urls,
            data: '{ID: 0}',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#divExperience').hide();
                $('#divExperienceRemarks').hide();
                $('#divExperience').html(response);
                //$('#divQualification').dialog('open');
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

        $("#AddWarning").click(function () {
            $('#divExperienceRemarks').hide();
            $('.bs-example-modal-lg').show();
            $('#divExperience').show();
        });

        $(".btn-info").click(function () {
            var ID = $(this).parents('tr').find('#hidAppID').val();
            var urls = LoadUrl('HumanResource/Profile/ModifyWarning');
            $.ajax({
                type: "GET",
                url: urls,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                data: { ID: ID },
                success: function (response) {
                    $('#divExperienceRemarks').hide();
                    $('#divExperience').html(response);
                    $('#divExperience').show();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        });

        $(".btn-success").click(function () {

            var ID = $(this).parents('tr').find('#hidAppID').val();
            var empID = $(this).parents('tr').find('#hidPersonID').val();
            var statusID = $(this).parents('tr').find('#hidStatusID').val();
            var type = $(this).parents('tr').find("#hidTypeID").val();
            var urls = LoadUrl('HumanResource/Profile/HREmpAction');
            $.ajax({
                type: "GET",
                url: urls,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                data: { ID: ID, TypeID: type, EmpID: empID, StatusID: statusID },
                success: function (response) {
                    $('#divExperience').hide();
                    $('#divExperienceRemarks').html(response);
                    $('#divExperienceRemarks').show();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        });
        $(".btn-danger").click(function () {

            var ID = $(this).parents('tr').find('#hidExpID').val();
            var empID = $(this).parents('tr').find('#hidPersonID').val();
            var statusID = $(this).parents('tr').find('#hidStatusID').val();
            var type = $(this).parents('tr').find("#hidTypeID").val();
            var urls = LoadUrl('HumanResource/Profile/DeleteEmpRecord');
            $.ajax({
                type: "GET",
                url: urls,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                data: { TypeID: type, ID: ID },
                success: function (response) {
                    location.reload();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        });

    });
</script>
<script src="~/Scripts/gridFeatures.js"></script>








