@model PTAWMS.Models.Att_JobCardApp

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-2"></div>
<div class="col-md-10 col-sm-10 col-xs-10">
             
<h3>Are you sure you want to Cancel this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStarted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStarted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>      
        @*<dt>
            @Html.DisplayNameFor(model => model.Att_JobCard.JCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Att_JobCard.JCName)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="row col-md-12">
            <div class="form-actions ">

                <input type="submit" value="Cancel" class="btn btn-danger" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary " })
            </div>
        </div>
    }
</div>
</div>