@model PTAWMS.Models.Att_Shift

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="~/Home/Index">Home</a>
                    <li class="active">Attendance</li>
                    <li class="active">Shifts</li>
				</li>
				<li class="active">Create</li>
			</ul><!-- /.breadcrumb -->
		</div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="page-header">
            <h1>
			    Shift
			    <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Create New Shift Timings             												
			    </small>
			</h1>
        </div>
        <div class="widget-box">
	        <div>

	        </div>

	        <div class="widget-body">
		        <div class="widget-main">
					@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="row">
              <div class="col-md-12 col-xs-12">              
                <div class="x_panel">
                  <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                      <li>
                      </li>
                      <li class="dropdown">
                      <li>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>            
 <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ShftID)
    <div class="Outer">
       <div class="col-md-6">
      <br />
           <br />
           <br />
        <div class="form-group">
             <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Shift Name<span class="required">*</span></label>              
                <div class="col-md-6 col-sm-6 col-xs-6">              
                       @Html.TextBoxFor(model => model.ShiftName, new { @class = "form-control col-md-7 col-xs-12" })
                       @Html.ValidationMessageFor(model => model.ShiftName)
                </div>                                  
         </div>
         
        <div class="form-group">
             <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Start Time<span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-6">                     
                @Html.TextBoxFor(model => model.StartTime, new { @class = "form-control col-md-7 col-xs-12", @Type="Time" })
                @Html.ValidationMessageFor(model => model.StartTime)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">DayOf 1<span class="required">*</span></label>     
            <div  class="col-md-6 col-sm-6 col-xs-6"> 
                @Html.DropDownList("DayOff1", null, new { @class = "input-medium valid col-lg-12 col-md-12 col-sm-12 col-xs-12" })
                @*@Html.TextBoxFor(model => model.DayOff1,new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.DayOff1)
            </div>
        </div>
         <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">DayOf 2<span class="required">*</span></label>     
            <div  class="col-md-6 col-sm-6 col-xs-6"> 
                 @Html.DropDownList("DayOff2", null, new { @class = "input-medium valid col-lg-12 col-md-12 col-sm-12 col-xs-12" })
                @*@Html.TextBoxFor(model => model.DayOff2,new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.DayOff2)
            </div>
        </div>      
        <div class="form-group">
             <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"></label> 
            <div  class="col-md-6 col-sm-6 col-xs-6">
                @Html.CheckBox("GZDays") <label>Gazetted Days</label>
                @Html.ValidationMessageFor(model => model.GZDays)
            </div>
        </div>

        <div class="form-group">
           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"></label> 
            <div  class="col-md-6 col-sm-6 col-xs-6">
               @Html.CheckBox("OpenShift") <label>Open Shift</label> 
                @Html.ValidationMessageFor(model => model.OpenShift)
            </div>
        </div>
        <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"></label> 
                <div  class="col-md-6 col-sm-6 col-xs-6">
                    @Html.CheckBox("HasBreak") <label>Enable Break</label> 
                   @* <input type="checkbox" class="checkbox" name="OpenShift" value="Hasbreak" id="Hasbreak" />*@ 
                </div>
            </div>

        <div id ="HasBreakDiv">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Break Minuts<span class="required">*</span></label>              
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.TextBoxFor(model => model.BreakMin, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BreakMin)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Half Day Break Min<span class="required">*</span></label>              
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.TextBoxFor(model => model.HalfDayBreakMin, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HalfDayBreakMin)
                </div>
            </div>
            </div>
             <div class="form-group">
           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"></label> 
            <div  class="col-md-6 col-sm-6 col-xs-6">
                @Html.CheckBox("RoundOffWorkMin") <label>Round Off Work Minutes</label> 
                @Html.ValidationMessageFor(model => model.RoundOffWorkMin)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"></label> 
            <div  class="col-md-6 col-sm-6 col-xs-6">
                @Html.CheckBox("SubtractLOFromWork") <label>Subtract Late Out From Work</label> 
                @Html.ValidationMessageFor(model => model.SubtractLOFromWork)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"></label> 
            <div  class="col-md-6 col-sm-6 col-xs-6">
                @Html.CheckBox("SubtractEIFromWork") <label>Subtract Early In From Work</label> 
                @Html.ValidationMessageFor(model => model.SubtractEIFromWork)
            </div>
        </div>
        <div class="form-group">
           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"></label> 
            <div  class="col-md-6 col-sm-6 col-xs-6">
                @Html.CheckBox("PresentAtIN") <label>Mark Present at In</label> 
                @Html.ValidationMessageFor(model => model.PresentAtIN)
            </div>
        </div>
             <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-success" />
                 @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary " })
            </div>
        </div>            
       </div> 
        
      <div class="col-md-6">
          <div class="form-group">
           <div class="control-label col-md-2"></div>
            <div class="col-md-6">
                <h4>Define Shift Work Minutes</h4>
            </div>
        </div>
        <div class="form-group">
           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Monday<span class="required">*</span></label>              
                <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(model => model.MonMin, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MonMin)
            </div>
        </div>
         <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Tuesday<span class="required">*</span></label>              
                <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(model => model.TueMin, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TueMin)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Wednesday<span class="required">*</span></label>              
                <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(model => model.WedMin, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WedMin)
            </div>
        </div>

        <div class="form-group">
           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Thursday<span class="required">*</span></label>              
                <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(model => model.ThuMin, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ThuMin)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Friday<span class="required">*</span></label>              
                <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(model => model.FriMin, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FriMin)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Saturday<span class="required">*</span></label>              
                <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(model => model.SatMin, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SatMin)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Sunday<span class="required">*</span></label>              
                <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(model => model.SunMin, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SunMin)
            </div>
        </div>
          <div class="form-group">
            <div class="control-label col-md-2"></div>
            <div class="col-md-8">
                <h4>Define Margins</h4>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Late In<span class="required">*</span></label>              
                <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(model => model.LateIn, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LateIn)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Early In<span class="required">*</span></label>              
                <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(model => model.EarlyIn, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EarlyIn)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Early Out<span class="required">*</span></label>              
                <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(model => model.EarlyOut, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EarlyOut)
            </div>
        </div>

        <div class="form-group">
           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Late Out<span class="required">*</span></label>              
                <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(model => model.LateOut, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LateOut)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Overtime<span class="required">*</span></label>              
                <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(model => model.OverTimeMin, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OverTimeMin)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Minimum Minutes<span class="required">*</span></label>              
                <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(model => model.MinHrs, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MinHrs)
            </div>
        </div>        
      </div>
    </div>
      </div>   
                </div>             
              </div>            
            </div>  
}
		        </div><!-- /.widget-main -->
	        </div><!-- /.widget-body -->
        </div>
            </div>
    </div>
</div>
<script src="~/assets/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#HasBreakDiv').hide();
        $('#HasBreak').change(function () {
            if ($(this).is(":checked")) {
                $("#HasBreakDiv").show();
            }
            else {
                $("#HasBreakDiv").hide();
            }
        });
        $('#OpenShift').click(function () {
            var value = $('#OpenShift').val();
            value == 'false' ? $('#starttimediv').show() : $('#starttimediv').hide(); //time for show

        });
    });
</script>

