@model PTAWMS.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanEdit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanEdit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanView)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanView)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAttOutPass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAttOutPass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAttProcess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAttProcess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAttDevice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAttDevice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAttDeviceUtility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAttDeviceUtility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAttEditAttendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAttEditAttendance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAttJobCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAttJobCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAttMonthEditor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAttMonthEditor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAttShift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAttShift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAttPolicy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAttPolicy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAttDownloadTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAttDownloadTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAttHoliday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAttHoliday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAttOTPolicy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAttOTPolicy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAttLeaves)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAttLeaves)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAttRoster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAttRoster)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MHRCompHierarchy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MHRCompHierarchy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MGrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MHREmpA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MHREmpA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MHREmpE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MHREmpE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MHREmpV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MHREmpV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MHREmpD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MHREmpD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MHREmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MHREmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MHREmpPersonal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MHREmpPersonal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MHREmpJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MHREmpJob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MHREmpAtt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MHREmpAtt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HRModule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRModule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HREmpType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HREmpType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HRLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HRDeptartment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRDeptartment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HRDesignation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRDesignation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HRSection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRSection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendanceModule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendanceModule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_Employee.EmpNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_Employee.EmpNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
