@model PTAWMS.Models.Att_ProcessRequest

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Att_ProcessRequest</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AttProcesserSchedulerID)

        <div class="form-group">
            @Html.LabelFor(model => model.PeriodTag, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PeriodTag)
                @Html.ValidationMessageFor(model => model.PeriodTag)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateFrom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateFrom)
                @Html.ValidationMessageFor(model => model.DateFrom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateTo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateTo)
                @Html.ValidationMessageFor(model => model.DateTo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationID)
                @Html.ValidationMessageFor(model => model.LocationID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CatID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CatID)
                @Html.ValidationMessageFor(model => model.CatID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProcessingDone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProcessingDone)
                @Html.ValidationMessageFor(model => model.ProcessingDone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Criteria, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Criteria)
                @Html.ValidationMessageFor(model => model.Criteria)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProcessCat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProcessCat)
                @Html.ValidationMessageFor(model => model.ProcessCat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserID, "UserID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserID", String.Empty)
                @Html.ValidationMessageFor(model => model.UserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedDate)
                @Html.ValidationMessageFor(model => model.CreatedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpID)
                @Html.ValidationMessageFor(model => model.EmpID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpNo)
                @Html.ValidationMessageFor(model => model.EmpNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SystemGenerated, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SystemGenerated)
                @Html.ValidationMessageFor(model => model.SystemGenerated)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks)
                @Html.ValidationMessageFor(model => model.Remarks)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
