
@{
    ViewBag.Title = "HREmpCommunication";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    List<PTAWMS.Models.ViewEmpCommunication> commsList = Model as List<PTAWMS.Models.ViewEmpCommunication>;
    //PTAWMS.Models.ViewUserEmp user = (PTAWMS.Models.ViewUserEmp)HttpContext.Current.Session["LoggedUser"];
}
<link href="~/assets/css/jquery-ui1.css" rel="stylesheet" />
<input id='hidType' type="hidden" value='@ViewBag.TypeID' />
<input id='hidID' type="hidden" value='@ViewBag.ID' />
<input id='hidPersonID' type="hidden" value='@ViewBag.EmpID' />
<input id='hidStatus' type="hidden" value='@ViewBag.StatusID' />

<div style="border:groove;">
<div class="widget-header">
    <div class="pull-right tableTools-container">
        <div class="dt-buttons btn-overlap btn-group" style="padding-top:6px;">

            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="ace-icon fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="pull-left tableTools-container">
        <div class="dt-buttons btn-overlap btn-group">
            <h4 class="smaller"><i class="ace-icon fa fa-check"></i>@ViewBag.Area</h4>
            </div>
</div>
        </div>





        @*<div class="modal-body">


            <div class="form-horizontal">*@
        <div class="tab-content">
            <div class="profile-user-info profile-user-info-striped">
                @Html.Raw(ViewBag.Values)
                @*<div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> Name </div>

                <div class="profile-info-value">
                    <span class="editable editable-click" id="username">@ViewBag.PersonName</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> Profile Section </div>*@
                <div class="profile-info-value">
                    <span class="editable editable-click" id="country">
                        @if (!String.IsNullOrEmpty(@ViewBag.filePath))
                        {
                            @Html.ActionLink("Download", "DownloadDocument", "Profile", new { ID = ViewBag.ID, TypeID = ViewBag.TypeID }, new { @class = "ace - icon glyphicon glyphicon - download" })
                        }
                    </span>

                </div>
            </div>


            </div>

            
            <hr />
            
            <div id="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-dialog-buttons ui-draggable ui-resizable">

                <div class="widget-box">
                    <div class="widget-header">
                        <h4 class="widget-title lighter smaller">
                            <i class="ace-icon fa fa-comment blue"></i>
                            Correspondence
                        </h4>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            <div class="dialogs ace-scroll">
                                @*<div class="scroll-track scroll-active scroll-hover" style="display: block; height: 300px;">
                                        <div class="scroll-bar" style="height: 236px; top: 64px;"></div>
                                    </div>*@
                                <div class="scroll-content" style="max-height: 10%; overflow:scroll;">

                                    @if (commsList.Count == 0)
                                    {
                                        <div class="itemdiv dialogdiv" style="height:10px">

                                        </div>
                                    }

                                    @foreach (var item in commsList)
                                    {
                                        <div class="itemdiv dialogdiv">
                                            <div class="user">
                                                <img alt="Alexa's Avatar" src="~/assets/images/avatars/avatar2.png">
                                            </div>
                                            @if (item.HRModule == true)
                                            {
                                                <div class="body">
                                                    <div class="time">

                                                        <span class="green">@item.DateCreated.ToShortDateString()</span>
                                                        <i class="ace-icon fa fa-clock-o"></i> @item.DateCreated.ToString("hh:mm tt")
                                                    </div>

                                                    <div class="name">
                                                        <strong>@item.ActionByName</strong>
                                                        <span class="label label-sm label-danger">HR</span>
                                                    </div>
                                                    <div class="text">@item.Comment</div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="body">
                                                    <div class="time">

                                                        <span class="green">@item.DateCreated.ToShortDateString()</span>
                                                        <i class="ace-icon fa fa-clock-o"></i> @item.DateCreated.ToString("hh:mm tt")
                                                    </div>

                                                    <div class="name">
                                                        <strong>@item.ActionByName</strong>
                                                        <span class="label label-sm label-info">User</span>
                                                    </div>
                                                    <div class="text">@item.Comment</div>
                                                </div>
                                            }

                                        </div>
                                    }

                                </div>
                            </div>

                            <form>
                                <div class="form-actions">
                                    <div class="input-group">
                                        <input required placeholder="Type your message here ..." type="text" id="message" class="form-control" name="message" tabindex="1" />
                                        <span class="input-group-btn">
                                            
                                            <button class="btn btn-sm btn-warning" type="submit">
                                                <i class="ace-icon fa fa-share"></i>
                                                Send
                                            </button>
                                            <button class="btn btn-sm btn-info btn-success" type="submit">

                                                Approve
                                            </button>
                                            <button class="btn btn-sm btn-info btn-danger" type="submit">

                                                Reject
                                            </button>
                                            <input type="button" id="btnCancel" value="Cancel" class="btn btn-sm btn-info btn-cancel" data-dismiss="modal" />

                                        </span>
                                    </div>

                                </div>
                            </form>
                        </div><!-- /.widget-main -->
                    </div><!-- /.widget-body -->
                </div><!-- /.widget-box -->
            </div>



        </div>
        @*</div>
            </div>*@
    </div>
        <script src="~/Scripts/jquery-1.9.1.js" type="text/javascript"></script>


        <script type="text/javascript">
            $(function () {

                $('.scroll-content').animate({ scrollTop: 1000 }, 1200);
                $("#message").focus();

                $(".btn-success").click(function () {

                    var type = $("#hidType").val();
                    var ID = $('#hidID').val();
                    var empID = $("#hidPersonID").val();
                    var message = $("#message").val();
                    if (message.length > 0)
                        {
                        var urls = LoadUrl('HumanResource/HR/SetApprovedStatus');
                    $.ajax({
                        type: "GET",
                        url: urls,
                        contentType: "application/json; charset=utf-8",
                        dataType: "html",
                        data: { ID: ID, Type: type, Message: message, EmpID: empID },
                        success: function (response) {
                            location.reload(true);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        }
                        });
                    }

                });

                $(".btn-danger").click(function () {
                    var type = $("#hidType").val();
                    var id = $("#hidID").val();
                    var empID = $("#hidPersonID").val();
                    var message = $("#message").val();
                    var status = $("#hidStatus").val();
                    if (message.length > 0) {
                        var urls = LoadUrl('HumanResource/HR/SetRejectedStatus');
                        $.ajax({
                            type: "GET",
                            url: urls,
                            contentType: "application/json; charset=utf-8",
                            dataType: "html",
                            data: { ID: id, Type: type, Message: message, EmpID: empID },
                            success: function (response) {
                                location.reload(true);
                            },
                            failure: function (response) {
                                //alert(response.responseText);
                            },
                            error: function (response) {
                                //alert(response.responseText);
                            }
                        });
                    }

                });

                $(".btn-warning").click(function () {
                    var message = $("#message").val();
                    if (message.length > 0) {
                        var type = $("#hidType").val();
                        var id = $("#hidID").val();
                        var empID = $("#hidPersonID").val();

                        var status = $("#hidStatus").val();
                        if (message.length > 0) {
                            var urls = LoadUrl('HumanResource/HR/SubmitComments');
                            $.ajax({
                                type: "GET",
                                url: urls,
                                contentType: "application/json; charset=utf-8",
                                dataType: "html",
                                data: { ID: id, TypeID: type, EmpID: empID, Comments: message, StatusID: status },
                                success: function (response) {
                                    location.reload(true);
                                },
                                failure: function (response) {
                                    //alert(response.responseText);
                                },
                                error: function (response) {
                                    //alert(response.responseText);
                                }
                            });
                        }
                    }

                });

                $("#DocumentDownload").click(function () {


                        var type = $("#hidType").val();
                        var id = $("#hidID").val();
                        var empID = $("#hidPersonID").val();

                        var status = $("#hidStatus").val();
                        var urls = LoadUrl('HumanResource/Profile/DownloadDocument');
                            $.ajax({
                                type: "GET",
                                url: urls,
                                contentType: "application/json; charset=utf-8",
                                dataType: "html",
                                data: { ID: id, TypeID: type},
                                success: function (response) {
                                    alert('Calling....');
                                    //location.reload(true);
                                },
                                failure: function (response) {
                                    //alert(response.responseText);
                                },
                                error: function (response) {
                                    //alert(response.responseText);
                                }
                            });

                });


            });
        </script>

