@model PTAWMS.Models.HR_Employee

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HR_Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FathersName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FathersName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNICNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNICNo)
        </dd>     
        <dt>
            @Html.DisplayNameFor(model => model.EmpImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpImage)
        </dd>     
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LandLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficialContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficialContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficialEmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficialEmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeavingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeavingDate)
        </dd>     
        <dt>
            @Html.DisplayNameFor(model => model.DOJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportingToID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportingToID)
        </dd>     
        <dt>
            @Html.DisplayNameFor(model => model.ShiftID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PinCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PinCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaceTemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaceTemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FPTemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FPTemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcessAttendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcessAttendance)
        </dd>      
        <dt>
            @Html.DisplayNameFor(model => model.HR_Designation.DesignationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_Designation.DesignationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_EmpBloodGroup.BloodGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_EmpBloodGroup.BloodGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_EmpGender.GenderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_EmpGender.GenderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_EmpNationality.NationalityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_EmpNationality.NationalityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_EmpReligion.ReligionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_EmpReligion.ReligionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_EmpStatus.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_EmpStatus.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_EmpType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_EmpType.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_Grade.GradeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_Grade.GradeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_Group.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_Group.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_JobTitle.JobTitleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_JobTitle.JobTitleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_Location.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_Location.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_MartialStatus.MartialStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_MartialStatus.MartialStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_Section.SectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_Section.SectionName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
@model PTAWMS.Models.HR_Employee

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HR_Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FathersName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FathersName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNICNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNICNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LandLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficialContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficialContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficialEmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficialEmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeavingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeavingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportingToID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportingToID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PinCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PinCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaceTemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaceTemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FPTemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FPTemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcessAttendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcessAttendance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcessOnlyMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcessOnlyMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Att_Shift.ShiftName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Att_Shift.ShiftName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_Designation.DesignationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_Designation.DesignationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_EmpType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_EmpType.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_Grade.GradeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_Grade.GradeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_Section.SectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_Section.SectionName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
