@model PTAWMS.Models.BG_OTCredit

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="~/Home/Index">Home</a>
				</li>
				<li class="active">Details Over Time Credit</li>
			</ul><!-- /.breadcrumb -->
		</div>

        <div class="col-md-8 col-sm-12 col-xs-12">
        <br />
        <div class="widget-box">
	        <div class="widget-header widget-header-blue widget-header-flat">
		        <h4 class="widget-title lighter">Details Over Time Credit</h4>
	        </div>

	        <div class="widget-body">
		        <div class="widget-main">

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PCID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
		        </div><!-- /.widget-main -->
	        </div><!-- /.widget-body -->
        </div>
            </div>
    </div>
</div>